* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BubblegumSans";
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}
.section a {
  color: white;
}
.section img {
  position: absolute;
}
.section#section1, .section#section2 {
  background: linear-gradient(lightskyblue, blue);
}
.section#section3, .section#section4, .section#section5, .section#section7 {
  background: linear-gradient(#07319D, #030F2E);
}
.section#section5 {
  justify-content: center;
  text-align: center;
}
.section#section6 {
  background-color: #4A2800;
}
.section__text5 {
  align-self: flex-end;
  margin-bottom: 40px;
}
.section__cookedFish {
  z-index: 2;
  width: 10.5rem;
  height: 4.5rem;
  top: 7.5rem;
  left: 50%;
  transform: translate(-50%);
}
.section__text6 {
  max-height: 382px;
}
.section__text6 {
  position: absolute;
  width: 100vw;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
}
.section__sources {
  width: 1000px;
  margin-inline: auto;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section__sources h1 {
  margin-bottom: 1rem;
}

.hookFish__fish2 {
  z-index: 2;
  width: 18rem;
  height: 10rem;
  top: 12.2rem;
  left: 6.8rem;
}
.hookFish__fishHookWorm {
  width: 3.5rem;
  height: 19.4rem;
  left: 5rem;
}

.dinner {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}
.dinner img {
  position: static;
}
.dinner__dinnerPlate {
  width: 15rem;
  height: 15rem;
}
.dinner__fork, .dinner__knife {
  width: 4rem;
  height: 12rem;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
  .hookFish {
    position: absolute;
    left: 30%;
    transform: translate(-30%);
  }
  .hookFish__fish2, .hookFish__fishHookWorm {
    transform: none;
  }
  .hookFish__fish2 {
    left: 34px;
  }
  .hookFish__fishHookWorm {
    left: 0;
  }
  .section__cookedFish {
    width: 14rem;
    height: 6rem;
    top: 9.5rem;
  }
  .dinner__dinnerPlate {
    width: 20rem;
    height: 20rem;
  }
  .dinner__fork, .dinner__knife {
    width: 4.5rem;
    height: 16rem;
  }
}
@media screen and (min-width: 870px) {
  .section__cookedFish {
    top: 11.5rem;
  }
  .dinner {
    top: 4rem;
  }
}
@media screen and (min-width: 1400px) {
  .hookFish {
    left: 40%;
    transform: translate(-40%);
  }
}
@media screen and (min-width: 2000px) {
  .hookFish {
    left: 45%;
    transform: translate(-45%);
  }
}
@font-face {
  font-family: "BubblegumSans";
  src: local("Bubblegum Sans"), local("BubblegumSans-Regular"), url("/assets/fonts/BubblegumSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
h1, p, a {
  padding-inline: 1rem;
  max-width: 1000px;
}

h1 {
  font-size: 40px;
}

p, a {
  font-size: 30px;
}