// global reset
@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // apply font-family to all elements
  font-family: "BubblegumSans";
}

#fact-4 {
  max-width: 32%;
  max-height: 5%;
  margin-top: 2%;
  text-align: center;
  color: #b8b8b8;

}


.section-4 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient($ocean1,$ocean2);
  position: relative;
  overflow: hidden;

  & .svg-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }

  & .svg-container-2  {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
  }

  & .Microplastic {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  & .fish {
    display: flex;
    justify-content: end;
  }

  & .svg-container-3 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 6%;
  }

  & .svg-container-4  {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 10%;
  }


  }




