// global reset
@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // apply font-family to all elements
  font-family: "BubblegumSans";
   
  // Hide scrollbar
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to bottom, $ocean1 0%, $ocean2 100%);
}

// Scroll buttons for keyboard users
.scrollNavigation {
  position: fixed;
  right: 2rem;
  bottom: 10rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    background-color: $white;
    border: none;
    padding: 1.2rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: $white-hover;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
  }
}

.container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}