@font-face {
  font-family: "BubblegumSans";
  src: local("Bubblegum Sans"), local("BubblegumSans-Regular"),
    url("/assets/fonts/BubblegumSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

h1, p, a {
  padding-inline: 1rem;
  max-width: 1000px;
}

h1 {
  font-size: 40px;
}

p, a {
  font-size: 30px;
}